.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 47px;
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 480px;
    margin: 0 auto;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .footer .container {
    display: flex;
    height: 252px;
  }
  .hero .container {
    display: flex;
  }
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.269;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.about .title {
  margin-bottom: 50px;
}

.clients .title {
  margin-bottom: 30px;
}

.co-worker .title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
  }
  .co-worker .title {
    margin-bottom: 50px;
  }
  .clients .title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: block;
    fill: #212121;
    margin-top: 10px;
  }
  .mobile-menu :hover {
    fill: #2196f3;
  }
  .mobile-menu .icon-menu {
    width: 40px;
    height: 40px;
  }
  .mobile-menu .icon-cross {
    width: 20px;
    height: 20px;
  }
  .menu-container {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    padding: 60px 140px;
  }
  .menu-container.is-open {
    display: block;
  }
  .address {
    display: none;
  }
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  .menu-button .icon-cross {
    display: none;
    width: 20px;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    position: relative;
    padding: 0px;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
  .adress-div {
    margin-top: 21px;
    margin-right: 15px;
    padding: 0;
  }
  .navigation-div {
    margin-top: 32px;
  }
  .menu-button {
    display: none;
  }
  .address {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-div {
    margin-top: 0px;
  }
  .adress-div {
    margin-top: 32px;
    margin-right: 200px;
    padding: 0;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages .subtitle {
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .advantages .subtitle {
    text-align: left;
  }
}

.logo {
  width: 141px;
  height: 28px;
  margin-top: 26px;
  margin-bottom: 16px;
}

.logo-img-svg {
  width: 153px;
  height: 31px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 81px;
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-top: 24px;
    margin-left: 93px;
    margin-right: 85px;
    margin-bottom: 26px;
  }
}

.discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages-content .discription {
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 550ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms linear 500ms;
}

.backdrop.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms linear 500ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  background-color: #fff;
  transition: all 300ms linear 500ms;
  padding: 40px;
}

.modal-btn-svg {
  width: 11px;
  height: 11px;
  fill: #000;
}

.close-btn:hover .modal-btn-svg {
  fill: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 500ms linear 0ms;
}

.modal-form-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-left: 85px;
  margin-right: 85px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  padding: 10px 25px;
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 9px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

/*modal-form*/
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field, .modal-form-massege {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  color: #757575;
}

.modal-form-field-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-massege {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  padding-left: 16px;
  padding-top: 12px;
}

.modal-form-input:focus, .modal-form-massege:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-svg {
  position: absolute;
  left: 19px;
  bottom: 14px;
  fill: #000;
}

.modal-form-input:focus + .modal-form-svg {
  fill: #2196f3;
}

.modal-form-policy-lable {
  text-decoration-skip: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
}

.modal-form-policy-lable::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  content: "";
  background-image: url(../images/check.png);
  border-radius: 2px;
}

.modal-form-policy:checked + .modal-form-policy-lable::before {
  background-image: url(../images/check_on.png);
  background-position: center;
  background-color: #2196f3;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal-form-btn {
    margin-left: 124px;
    margin-right: 124px;
  }
}

.header {
  position: relative;
  height: 60px;
  margin-left: auto;
}

.navigation-list-link {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.navigation-list-link:hover::after {
  position: absolute;
  top: 38px;
  width: 100%;
  content: "";
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 480px) and (max-width: 1199) {
  .navigation, .address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .header .address {
    margin-left: auto;
    margin-right: auto;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link:hover, .navigation-list-link :focus {
    color: #2196f3;
  }
  .navigation-list-link:hover::after {
    position: absolute;
    top: 38px;
    width: 100%;
    content: "";
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  .address-list {
    display: flex;
    margin-left: 69px;
    flex-direction: column;
  }
  .address-list-item {
    width: 148px;
    display: flex;
  }
  .address-list-item-mail, .address-list-item-tel {
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-list-item-mail:hover, .address-list-item-mail :focus, .address-list-item-tel:hover, .address-list-item-tel :focus {
    color: #2196f3;
  }
  .address-list-item-mail {
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .mail-svg {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
  }
  .address-list-item:hover .mail-svg {
    fill: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .tel-svg {
    width: 10px;
    height: 15px;
    margin-right: 10px;
    fill: #757575;
  }
  .address-list-item:hover .tel-svg {
    fill: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .address-list {
    flex-direction: inherit;
  }
  .address-list-item {
    margin-right: 30px;
  }
  .address-list-item-mail, .address-list-item-tel {
    font-size: 12px;
    line-height: 1.143;
  }
  .navigation {
    margin-top: 32px;
  }
  .navigation-list-link:hover::after {
    top: 30px;
  }
}

.footer {
  background: #2f303a;
  padding-top: 60px;
}

.address-footer {
  text-align: center;
}

.address-footer-description {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: #ffffff;
}

.address-list-footer-mail, .address-list-footer-tel {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer {
    background: #2f303a;
    padding-top: 60px;
  }
  .footer-tablet {
    padding-left: 61px;
    padding-right: 74px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    margin: 0 auto;
    padding-top: 0px;
  }
  .footer-tablet {
    justify-content: start;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .address-footer {
    margin-top: 60px;
    text-align: left;
    width: 231px;
    margin-right: 70px;
  }
  .address-footer-description {
    text-align: left;
  }
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* .subscription-social {
  width: 206px;
  margin-top: 72px;
  margin-right: 94px;
  text-align: center;
}
.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
 */
.subscription-social-title, .subscription-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 12px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.subscription-list {
  display: flex;
  margin-left: 117px;
  margin-right: 117px;
}

.subscription-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.subscription-social-link-svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.subscription-input {
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: transparent;
  padding-left: 16px;
  color: #fff;
}

.subscription-input :hover, .subscription-input :focus {
  border: 1px solid #2196f3;
}

.subscription-btn {
  margin-bottom: 60px;
  margin-left: 135px;
  margin-right: 135px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  letter-spacing: 0.06em;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border: 0px;
  padding: 10px 25px;
  color: #ffffff;
}

.subscription-btn-text {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription-btn-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .subscription-list {
    margin: 0 auto;
  }
  .subscription-input {
    margin-left: 151px;
  }
  .subscription-btn {
    margin-left: 276px;
  }
  .subscription-social-title {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-top: 72px;
  }
  .subscription-form {
    display: flex;
  }
  .subscription-title {
    margin-top: 72px;
  }
  .subscription-btn {
    margin-left: 12px;
    margin-top: 0px;
  }
  .subscription-list {
    display: flex;
    justify-content: space-between;
  }
  .subscription-input {
    width: 358px;
    margin-left: 94px;
  }
}

.tabs {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 56px;
}

.portfolio-list {
  display: wrap;
  flex-wrap: wrap;
  align-items: center;
}

.portfolio-list-item {
  background-color: #F5F4FA;
  padding: 6px 22px;
  border-radius: 4px;
}

.portfolio-list-item:hover, .portfolio-list-item:focus {
  background-color: #2196f3;
}

.portfolio-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.portfolio-list-item-link:hover, .portfolio-list-item-link:focus {
  color: #ffffff;
}

.gallery {
  margin-bottom: 94px;
}

.gallery-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  margin-left: 24px;
}

.gallery-item-discription {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.gallery-list {
  margin: -15px;
}

.gallery-list-item {
  width: 450px;
  margin: 15px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-item:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-list-img-wraper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: #ffffff;
  padding: 77px 24px;
  transform: translateY(100%);
  transition: all 300ms linear;
}

.gallery-list-item:hover .overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery-list-item {
    width: 354px;
  }
  .overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
  }
  .gallery-list-item {
    width: 370px;
  }
  .overlay {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=portfolio.css.map */