.social-title {

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px; 
  margin-bottom: 20px;
}
/* .subscription-social {
  width: 206px;
  margin-top: 72px;
  margin-right: 94px;
  text-align: center;
}
.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
 */