@media screen and (min-width:480px){

.mobile-menu{
    
    display: block;
    fill:#212121;
    margin-top: 10px;
    :hover{
        fill:$accent-color;  
    }
    & .icon-menu{
        width:40px;
        height: 40px;
    }
    & .icon-cross{
        width:20px;
        height: 20px;
    }
    
}    
    .address{
        display: none;
    } 

}

@media screen and (max-width: 767px) {
    .menu-container{
        display: none;
        position: absolute;
        top:60px;
        left:0;
        width: 100%;
        text-align: center;
        background-color: #FFFFFF;
        padding: 60px 140px ;
        &.is-open{
            display: block;
        }
    }
    .menu-button{
        display: inline-flex;
        margin: 0;
        padding: 0;
          border: 0;
          background-color: transparent;
          & .icon-cross{
              display: none;
              width: 20px;
          }
          &.is-open .icon-cross{    
            display: block;
            }
         &.is-open .icon-menu{    
            display: none;
                }
        }
}

@media screen and (min-width:768px){
 
    .menu-container{
        
        position: relative;
        padding: 0px;
        top: 0;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
    }
    .adress-div{
        margin-top: 21px;
        margin-right: 15px;
        
        padding: 0;
    }
    .navigation-div{
        margin-top: 32px;
        
    }
        .menu-button{
    display: none;
    }
    .address{
        display: block;
    } 
} 
@media screen and (min-width:1200px){
    .navigation-div{
        margin-top: 0px;
        
    }
    .adress-div{
        margin-top: 32px;
        margin-right: 200px;
         padding: 0;
    }
    
    
} 